<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We can help navigate challenges faced by every startup in these areas:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Billing</h4>
                    <p class="text-muted">The ability to accept payments from customers is crucial for early stage companies. Online commerce has evolved into a complex and changing landscape. We can help navigate the options and find the best-fit solution.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">User Management</h4>
                    <p class="text-muted">Setting up a new account, logging in, and managing a profile are all key workflows that set the tone for your relationship with a customer. We can help establish trust with your customers regarding their privacy.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security</h4>
                    <p class="text-muted">Launching a new venture is challenging--meeting the expectations of customers, employees, regulators, and standards bodies can be just as challenging. We can help integrate security best practices into your operations.</p>
                </div>
            </div>
        </div>
    </section>
